.message {
  display: flex;
  align-items: center;
  padding: 20px;
}

.message > img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.messageInfo {
  padding-left: 10px;
}

.messageTimeStamp {
  color: grey;
  font-weight: 300;
  font-size: 13px;
  padding-left: 5px;
}
